/*body2*/
@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url(https://d1unjqcospf8gs.cloudfront.net/assets/Gilroy-Bold-76f01426d347c0a032cb7669f76f457dfe153f125b58f0ab76a71693796c6918.woff);
}
* {
  margin: 0;
  padding: 0;
}
html {
  min-width: 980px;
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: calc(100% - 77px);
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


.home_main_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main_image {
  width: 655px;
  height: 750px;
}

.service_title {
  color: #ff6f0f;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.main_title {
  font-size: 40px;
  line-height: 55px;
  margin: 10px 0px;
}

.service_comment {
  color: #7c7c7c;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.main_buttons {
  margin-top: 30px;
}

.main_button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #e9ecef;
  border-radius: 6px;
  padding: 12px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.main_button:hover {
  background-color: gainsboro;
}

.main_reverse {
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.main_story_list {
  margin-top: 50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0px;
}

.main_story_list_item {
  margin-right: 5px;
  margin-left: 0px;
  width: 140px;
}

ul li {
  margin: 5px;
}

.story_list_image {
  width: 55px;
}

.story_title {
  margin: 12px 0px 5px 0px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
}

.story_comment {
  font-weight: 400;
  font-size: 13px;
  color: #7c7c7c;
  line-height: 17px;
}

