/*body2*/

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url(https://d1unjqcospf8gs.cloudfront.net/assets/Gilroy-Bold-76f01426d347c0a032cb7669f76f457dfe153f125b58f0ab76a71693796c6918.woff);
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-width: 980px;
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: calc(100% - 77px);
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.home_main_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main_image {
  width: 655px;
  height: 750px;
}

/* 알바 */
body {
  display: flex;
  flex-direction: column;
}

.main_arbeit {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main_arbeit_img {
  width: 655px;
  height: 750px;
}

.m_arbeit_start {
  color: #ff6f0f;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.m_arbeit_title {
  font-size: 40px;
  line-height: 55px;
  margin: 10px 0px;
}

.m_arbeit_comment {
  color: #7c7c7c;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.m_arbeit_buttons {
  margin-top: 30px;
}

.m_arbeit_button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #e9ecef;
  border-radius: 6px;
  padding: 12px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

/* 동네업체 */

.main_business {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main_business_img {
  width: 655px;
  height: 750px;
}

.service_title {
  color: #ff6f0f;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
.m_business_start {
  color: #ff6f0f;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.main_title {
  font-size: 40px;
  line-height: 55px;
  margin: 10px 0px;
}

.m_business_title {
  font-size: 40px;
  line-height: 55px;
  margin: 10px 0px;
}

.service_comment {
  color: #7c7c7c;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.m_business_comment {
  color: #7c7c7c;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.main_buttons {
  margin-top: 30px;
}

.main_button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #e9ecef;
  border-radius: 6px;
  padding: 12px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.m_business_buttons {
  margin-top: 30px;
}

.m_business_button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #e9ecef;
  border-radius: 6px;
  padding: 12px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.main_button:hover {
  background-color: gainsboro;
}

.main_reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  justify-contents: center;
}

.main_story_list {
  margin-top: 50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0px;
}

.main_story_list_item {
  margin-right: 5px;
  margin-left: 0px;
  width: 140px;
}

ul li {
  margin: 5px;
}

.story_list_image {
  width: 55px;
}

.story_title {
  margin: 12px 0px 5px 0px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
}

.story_comment {
  font-weight: 400;
  font-size: 13px;
  color: #7c7c7c;
  line-height: 17px;
}

/*footer*/
#footer {
  border-top: 1px solid lightgray;
  box-sizing: border-box;
  padding: 0 10em;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer_body {
  margin: 0 auto;
  width: 85em;
}

.footer_1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3em 0 1.5em;
}

.footer_menus {
  display: flex;
  width: 40em;
  padding-top: 1em;
  max-width: 50em;
  margin-left: 10px;
  margin-right: 10px;
}

.footer_menus_row {
  list-style: none;
  width: 33%;
}

.footer_menus_row li {
  font-size: 1.4em;
  margin-bottom: 2em;
}

.footer_menus_row li a {
  color: inherit;
  text-decoration: none;
}

.footer_download {
  display: flex;
  flex-direction: column;
  width: 25em;
  padding-top: 1em;
  max-width: 28em;
  font-size: 1.4em;
}

.footer_download_text {
  margin-bottom: 1em;
}

.footer_download_buttons {
  display: flex;
}

.footer_download_button {
  padding: 1em 1.7em;
  border-radius: 10px;
  background-color: #eaebee;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_download_button_left {
  margin-right: 10px;
}

.footer_download_icon {
  width: 1.3em;
  height: 1.3em;
  padding-right: 0.5em;
}

.footer_download_button p {
  font-weight: 700;
  font-size: 1em;
}

.footer_2 {
  box-sizing: border-box;
  border-top: 1px solid lightgray;
  color: rgb(113, 113, 113);
  padding: 1.5em 0;
  font-size: 1.3em;
}

.footer_2_1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer_info {
  line-height: 1.5em;
}

.footer_iconlinks {
  display: flex;
  align-items: start;
}

.footer_iconlink_icon {
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
  filter: opacity(0.5);
}

.footer_iconlink img {
  margin-right: 1em;
}

.footer_languagelink {
  display: flex;
  align-items: center;
}

.footer_languagelink img {
  margin-right: 0.2em;
}

.footer_languagelink select {
  color: inherit;
  border: none;
}

.footer_otherlinks_link {
  color: inherit;
  text-decoration: none;
  margin-right: 1.5em;
}
